<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<table id="newsList" lay-filter="newsList"></table>
	<!--操作-->
    <script type="text/html" id="newsListBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" value= {{d.id}} rel={{d.id}}>删除</a>
</script>
</form>
<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
<!-- <script type="text/javascript" src="__ADMIN__/js/newsList.js"></script> -->
<script type="text/javascript">
	layui.use(['form','layer','laydate','table','laytpl'],function(){
    var form = layui.form,
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery,
        laydate = layui.laydate,
        laytpl = layui.laytpl,
        table = layui.table;

    //新闻列表
    var tableIns = table.render({
        elem: '#newsList',
        url : '/admin/message/list',
        cellMinWidth : 95,
        page : true,
        height : "full",
        
        limit : 10,
        // limits : [5,10,15,20,25],
        id : "newsListTable",
        cols : [[
            {field: 'id', title: 'ID', width:60, align:"center",sort:true},
            {field: 'username', title: '用户名', width:200},
            {field: 'content', title: '内容', align:'center'},
            {field: 'aid', title: '文章ID(点击ID到内容页查看)',  align:'center',width:220,templet: function(d){return "<a target='_blank' href='/article/"+d.aid+"'>"+d.aid+"</a>"}},
            {field: 'create_time',title: '留言时间',sort:true, width:200,align:'center',templet: function(d){return stampToTime(d.create_time)}},
            {title: '操作', width:100, templet:'#newsListBar',fixed:"right",align:"center"},
        ]],
    });

    function stampToTime(timestamp) {
    if(timestamp == 0) {
        return "";
    }else{
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear();
        var M = date.getMonth()+ 1;
        var D = date.getDate();
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        var datestring = Y + "-";
        if (M < 10) datestring += "0";
        datestring += M + "-";
        if (D < 10) datestring += "0";
        datestring += D + " ";
        if (h < 10) datestring += "0";
        datestring += h + ":";
        if (m < 10) datestring += "0"; 
        datestring += m + ":";
        if (s < 10) datestring += "0"; 
        datestring += s;
        return datestring;  
    }
}

table.on('tool(newsList)', function(obj){
        var layEvent = obj.event,
            data = obj.data;
           
        if(layEvent === 'del'){ //删除
            layer.confirm('确定删除该留言？',{icon:3, title:'提示信息'},function(index){
               
               $.post('/admin/message/delete',{id:data.id},function(res){
                layer.close(index);
                
                res = eval('('+res+')');
                if (res.code == '0000') {
                    layer.msg(res.msg,{icon:1,time:1000});
                    window.location.reload();
                }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                }
               });
                layer.close(index);
                
            });
        }
    });

})
</script>
</body>
</html>