<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$info.title} - {$sys.webname}</title>
    <meta name="keywords" content="{$info.keywords}" />
    <meta name="description" content="{$info.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/index.css" rel="stylesheet">
    <link href="__INDEX__/css/m.css" rel="stylesheet">
    <link href="__INDEX__/css/comment.css" rel="stylesheet">
    <script src="__INDEX__/js/jquery.min.js" type="text/javascript"></script>
    <script src="__INDEX__/js/jquery.easyfader.min.js"></script>
    <script src="__INDEX__/js/scrollReveal.js"></script>
    <script src="__INDEX__/js/common.js"></script>
  	<script src="__INDEX__/js/qrcode.js"></script>
    <script src="__INDEX__/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.comment.js" ></script>
    <style type="text/css" media="screen">
        .blogbg{
            background-color:#f5f5f5; 
            border:1px solid #cccccc; 
            color:#000000; 
            font-family:Courier New!important; 
            font-size:12px!important; 
            margin-bottom:5px; 
            margin-left:5px; 
            margin-right:5px; 
            margin-top:5px; 
            overflow:auto; 
            padding:5px;
        }
      
      #wx canvas{
            width:100px;
            position:absolute;
            display:none;
        }
    </style>
    <script type="text/javascript">
  document.oncontextmenu = function(){
    event.returnValue = false;
}
document.onselectstart = function(){
    event.returnValue = false;
}
</script>
    <!--[if lt IE 9]>
<script src="__INDEX__/js/modernizr.js"></script>
<![endif]-->
</head>

<body>
    {include file='index/head'}
    <article>
        
        <h1 class="t_nav">
            {if condition="$lang eq 'zh-cn'"}
            <span>{:lang('您现在的位置是')}：{$info.cid|get_position}</span>
            {/if}
            <a href="/" class="n1">{:lang('网站首页')}</a>
            <a href="/{$info.cid|get_catdir}" class="n2">{:lang(get_catname($info.cid))}</a>
        </h1>
        
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title">{$info.title}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="lmname"><a href="/{$info.cid|get_catdir}">{:lang(get_catname($info.cid))}</a></li>
                        <li class="timer">{$info.update_time|date="Y-m-d",###}</li>
                        <li class="view">{$info.hits}{:lang('已阅读')}</li>
                        <li class="like">{$info.zan}</li>
                        <li class="author">{$info.writer}</li>
                       <li ><span>{:lang('分享到')}</span></li>
                       <li style="padding:0px;"><a target='_blank' href='https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://{$sys.url}/article/{$info.id}&title={$info.title}&pics=https://{$sys.url}{$info.thumb}&summary={$info.description}'><img src="__INDEX__/images/qzone.gif" width="20"> </a></li>
<li style="padding:0px;"><a target='_blank' href='http://connect.qq.com/widget/shareqq/index.html?url=https://{$sys.url}/article/{$info.id}&title={$info.title}&pics=https://{$sys.url}{$info.thumb}&summary={$info.description}'><img src="__INDEX__/images/qqim.gif" width="20"> </a></li>
<li style="padding:0px;"><a target='_blank' href='http://service.weibo.com/share/share.php?url=https://{$sys.url}/article/{$info.id}&title={$info.title}&pic=https://{$sys.url}{$info.thumb}&appkey=2539693553'><img src="__INDEX__/images/mweibo.gif" width="20"></a> </li>
<li style="padding:0px;"><a onClick = showImg();><img src="__INDEX__/images/weixin.gif" width="20"></a> </li>
                      <li style="padding:0px;" id="wx"></li>
                    </ul>
                </div>
                <div class="tags">
                    {foreach name='tagarr' item='vo'}
                    <a href="/tag/{$vo|tagencode}">{$vo}</a>
                    {/foreach}
                </div>
                <div class="news_about"><strong>{:lang('简介')}：</strong>{$info.description}</div>
                <div class="news_con">
                    {$info.content}
                </div>
            </div>
            <div class="share">
                <p class="diggit"><a href="javascript:makeRequest({$info.id});"> {:lang('很赞哦')}！ </a>(<b id="diggnum">{$info.zan}</b>)</p>
                <p class="dasbox"><a href="javascript:void(0)" onClick="dashangToggle()" class="dashang" title="打赏，支持一下">{:lang('打赏本站')}</a>
                  <!--<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytSi3DhQ"></script>-->
                </p>
                <div class="hide_box"></div>
                <div class="shang_box"> <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">{:lang('关闭')}</a>
                    <div class="shang_tit">
                        <p>{:lang('感谢您的支持，我会继续努力的')}!</p>
                    </div>
                    <div class="shang_payimg"> <img src="__INDEX__/images/alipayimg.jpg" alt="扫码支持" title="扫一扫"> </div>
                        <div class="pay_explain">{:lang('扫码打赏，你说多少就多少')}</div>
                        <div class="shang_payselect">
                            <div class="pay_item checked" data-id="alipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="__INDEX__/images/alipay.jpg" alt="支付宝"></span> </div>
                            <div class="pay_item" data-id="weipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="__INDEX__/images/wechat.jpg" alt="微信"></span> </div>
                        </div>
                        <script type="text/javascript">
                        $(function() {
                            $(".pay_item").click(function() {
                                $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
                                var dataid = $(this).attr('data-id');
                                $(".shang_payimg img").attr("src", "__INDEX__/images/" + dataid + "img.jpg");
                                $("#shang_pay_txt").text(dataid == "alipay" ? "支付宝" : "微信");
                            });
                        });

                        function dashangToggle() {
                            $(".hide_box").fadeToggle();
                            $(".shang_box").fadeToggle();
                        }
                        </script>
                    </div>
                </div>
                <div class="nextinfo">
                    <p>{:lang('上一篇')}：{$pre}</p>
                    <p>{:lang('下一篇')}：{$next}</p>
                </div>
                <div class="otherlink">
                    <h2>{:lang('相关文章')}</h2>
                    <ul>
                      {volist name='moreart' id='vo'}
                        <li><a href="/article/{$vo.id}" title="{$vo.title}">{$vo.title}</a></li>
                        {/volist}
                    </ul>
                </div>
                <div class="news_pl">
                    <h2>{:lang('文章评论')}</h2>
                    <ul>
                        <div class="gbko"><span style="display: none;" id="aid">{$aid}</span>
              <!-- <div class="container"> -->
    <div class="commentbox">
        <textarea cols="80" rows="50" placeholder="{:lang('来说几句吧')}......" class="mytextarea" id="content"></textarea>
        <div class="btn btn-info pull-right" id="comment">{:lang('评论')}</div>
    </div>
    <div class="comment-list">



        {volist name='commentinfo' id='vo'}
        <div class="comment-info">
            <header><img src="{$vo.logo}"></header>
            <div class="comment-right">
                <h3>{$vo.username}</h3><span class="fhid" style="display: none;">{$vo.id}</span>
                <div class="comment-content-header"><span><i class="glyphicon glyphicon-time"></i>{$vo.create_time|date="Y-m-d H:i",###}</span><span class="hid">{$vo.uid}</span><span class="reply-btn">{:lang('回复')}</span></div>
                <p class="content">{$vo.content}</p>
                
                <div class="reply-list">
                    {if condition="$vo['sub'] neq ''"}
                    {volist name='$vo["sub"]' id='svo'}
                    <div class="reply">
                        <div><a href="javascript:void(0)">{$svo['username']}</a>:<a href="javascript:void(0)">@{$svo['rname']}</a><span>{$svo['content']}</span></div>
                        <p><span>{$svo['create_time']|date="Y-m-d H:i",###}</span> <span class="hid">{$svo.uid}</span><span class="reply-btn" style="cursor: pointer">{:lang('回复')}</span></p>
                    </div>
                    {/volist}
                    {/if}
                </div>
                <div class='replybox' style="display: none;"><textarea cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea><span style="display: none;"></span><span class='send'>{:lang('发送')}</span></div>
            </div>
        </div>
        {/volist}
        
        
    <!-- </div> -->
</div>



                         </div>
                    </ul>
                </div>
            </div>
           {include file='index/right'}
    </article>
    {include file='index/footer'}
    <script type="text/javascript">
      $flag = true
function makeRequest(aid){
    if ($flag) {
        $.ajax({
            url:"/zan",
            type:"post",
            data:"id="+aid,
        });
        num = parseInt($("#diggnum").html())+1
        $("#diggnum").html(num);
         $(".like").html(num);
        alert("{:lang('感谢你的赞')}");
        $flag = false;
    }else{
        alert("{:lang('你已经赞过了')}");
    }
}
      function showImg(){
		$("#wx>canvas").toggle();
	}
    </script>
    <script type="text/javascript">
        function getCookie(cookieName){
            var cookieValue="";
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i];
                    if (cookie.split('=')[0].trim() == cookieName.trim()) {
                        cookieValue = cookie.split('=')[1];
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function html2Escape(sHtml) {
            return sHtml.replace(/[<>&"]/g, function (c) {
                return {'<': '<', '>': '>', '&': '&', '"': '"'}[c];
            });
        }

        $(function(){
        // $(".comment-list").addComme/ntList({data:arr,add:""});
        $("#comment").click(function(){
            var username = getCookie("username");
            var userid = getCookie("uid");
            // alert(uid);
            if (username != '' && userid != '') {
                var obj = new Object();
                obj.img=$("#search_bar img").eq(0).attr("src");
                obj.replyName=$("#nc").html();
                obj.content=html2Escape($("#content").val());
              if(obj.content == ''){alert('请输入内容');return false;}
                var arid = $("#aid").html();
                // console.log(aid);
                $.post('/comment/addcomment',{parentid:0,uid:userid,aid:arid,content:obj.content},function(res){
                    // console.log(res);
                    $(".comment-list").addCommentList({data:[],add:obj});
                });

            }else {
                alert('请先登录！');
            }

        });

        $(".reply-btn").click(function () {
            var username = getCookie("username");
            var userid = getCookie("uid");
            if (username != '' && userid != '') {
                $(".replybox").hide();
                var id = $(this).prev().html();
                if (userid == id){alert('不能回复自己');}else{
                    // console.log(id);
                    $(this).parents(".comment-right").children(".replybox").show();
                    $(this).parents(".comment-right").children(".replybox").children("span").eq(0).html(id);
                    // console.log($(this));
                }

            }else {
                alert('请先登录！');
            }
        });

        $(".send").click(function () {
            var obj = new Object();
            var hid = $(this).prev().html();//被回复人ID
            var userid = getCookie('uid');//用户ID
            obj.content = html2Escape($(this).prev().prev().val());//回复内容
            var pid = $(this).parents('.comment-right').find(".fhid").html();//楼层ID
            var arid = $("#aid").html();
            var objthis = $(this);
          if(obj.content == ''){alert('请输入内容');return false;}
            $.post("/comment/reply",{aid:arid,parentid:pid,uid:userid,content:obj.content,rid:hid},function (res) {

                res = eval("("+res+")");
                // console.log(res);
                var str = createReplyComment(res);
                objthis.parent().prev().append(str);
                objthis.prev().prev().val('');
                objthis.parent().hide();
            });
        });

            //返回每个回复体内容

            function createReplyComment(reply){
                var replyEl = "<div class='reply'><div><a href='javascript:void(0)' class='replyname'>"+$("#nc").html()+"</a>:<a href='javascript:void(0)'>@"+reply.rname+"</a><span>"+reply.content+"</span></div>"
                    + "<p><span>"+getNowDateFormat()+"</span> <span class='hid'>"+reply.uid+"</span><span class='reply-btn' style='cursor: pointer;' onclick='javascript:alert("+"不能回复自己"+")'>回复</span></p></div>";
                return replyEl;
            }

            function getNowDateFormat(){
                var nowDate = new Date();
                var year = nowDate.getFullYear();
                var month = filterNum(nowDate.getMonth()+1);
                var day = filterNum(nowDate.getDate());
                var hours = filterNum(nowDate.getHours());
                var min = filterNum(nowDate.getMinutes());
                var seconds = filterNum(nowDate.getSeconds());
                return year+"-"+month+"-"+day+" "+hours+":"+min+":"+seconds;
            }

            function filterNum(num){
                if(num < 10){
                    return "0"+num;
                }else{
                    return num;
                }
            }
    })
</script>
  <script type="text/javascript">
        $('#wx').qrcode("https://{$sys.url}/article/{$info.id}");
        // $('#qrcode').qrcode({width: 100,height: 100,text: "size doesn't matter"});
    </script>
</body>

</html>