<footer>
  <p>{$sys.copyright}&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://beian.miit.gov.cn">{$sys.bah}</a></p>
</footer>
<!--<link rel="stylesheet" href="__INDEX__/live2d/css/live2d.css" />-->
<!--<div id="landlord">-->
<!--    <div class="message" style="opacity:0"></div>-->
<!--    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>-->
<!--    <div class="hide-button">隐藏</div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--    var message_Path = '__INDEX__/live2d/'-->
<!--    var home_Path = 'http://luckypigblog.com/' -->
<!--</script>-->
<!--<script type="text/javascript" src="__INDEX__/live2d/js/live2d.js"></script>-->
<!--<script type="text/javascript" src="__INDEX__/live2d/js/message.js"></script>-->
<!--<script type="text/javascript">-->
<!--    loadlive2d("live2d", "__INDEX__/live2d/model/tia/model.json");-->
<!--</script>-->
<a href="#" class="cd-top">Top</a>
<script src="__INDEX__/js/heart.js"></script>
<!-- 鼠标特效  -->
<script type="text/javascript">

    var a_idx = 0;
    jQuery(document).ready(function($) {
        $("body").click(function(e) {
            var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");
            var $i = $("<span />").text(a[a_idx]);
            a_idx = (a_idx + 1) % a.length;
            var x = e.pageX,
                y = e.pageY;
            $i.css({
                "z-index": 99999999999999999999999999999999999999999999999999999999999999999999999999 ,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "#ff6651"
            });
            $("body").append($i);
            $i.animate({
                    "top": y - 180,
                    "opacity": 0
                },
                1500,
                function() {
                    $i.remove();
                });
        });
    });
</script>
<script type='text/javascript'> 
    //禁用右键（防止右键查看源代码） 
    window.oncontextmenu=function(){return false;} 
    //禁止任何键盘敲击事件（防止F12和shift+ctrl+i调起开发者工具） 
    window.onkeydown = window.onkeyup = window.onkeypress = function () { 
    window.event.returnValue = false; 
        return false; 
    } 
    //如果用户在工具栏调起开发者工具，那么判断浏览器的可视高度和可视宽度是否有改变，如有改变则关闭本页面 
    var h = window.innerHeight,w=window.innerWidth; 
    window.onresize = function () { 
        if (h!= window.innerHeight||w!=window.innerWidth){ 
            window.close(); 
            window.location = "about:blank"; 
        } 
    } 
</script>    
<script>
    (function(){ 
  try { 
    var $_console$$ = console; 
    Object.defineProperty(window, "console", { 
      get: function() { 
        if ($_console$$._commandLineAPI) 
          throw "抱歉, 为了用户安全, 本网站已禁用console脚本功能"; 
        return $_console$$ 
      }, 
      set: function($val$$) { 
        $_console$$ = $val$$ 
      } 
    }) 
  } 
  catch ($ignore$$){} 
})();
</script>