 <div class="sidebar">
     <div class="zhuanti">
      <h2 class="hometitle">{:lang('音乐播放器')}</h2>
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" height="420" src="//music.163.com/outchain/player?type=0&id=2825148324&auto=1&height=430"></iframe>
    </div>
    <div class="zhuanti">
      <h2 class="hometitle">{:lang('特别推荐')}</h2>
      <ul>
         {lp:list db='article' dbfield='id' id='vo' where="posid='1' and delete_time=0 and lang='$lang'" order='hits desc' limit='3'}
        <li> <i>
          {if condition="$vo['thumb'] eq ''"}
          <img src="/uploads/20181124/9c84254f5099be6bf96681a668540eaa.jpg">
          {else /}
          <img src="{$vo.thumb}">
          {/if}
        </i>
          <p>{$vo.title}<span><a href="/article/{$vo.id}">{:lang('阅读')}</a></span> </p>
        </li>
        {/lp:list}
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">{:lang('最新文章')}</h2>
      <ul class="tjpic">
        {lp:list db='article' dbfield='id' id='vo' where="delete_time=0 and lang='$lang'" order='update_time desc' limit='1'}
        <i>
           {if condition="$vo['thumb'] eq ''"}
          <img src="/uploads/20181124/9c84254f5099be6bf96681a668540eaa.jpg">
          {else /}
          <img src="{$vo.thumb}">
          {/if}
        </i>
        <p><a href="/article/{$vo.id}">{$vo.title}</a></p>
        {/lp:list}
      </ul>
      <ul class="sidenews">
        {lp:list db='article' dbfield='id' id='vo' where="delete_time = 0 and lang='$lang'" order='update_time desc' limit='1,4'}
        <li> <i>
          {if condition="$vo['thumb'] eq ''"}
          <img src="/uploads/20181124/9c84254f5099be6bf96681a668540eaa.jpg">
          {else /}
          <img src="{$vo.thumb}">
          {/if}
        </i>
          <p><a href="/article/{$vo.id}">{$vo.title}</a></p>
          <span>{$vo.update_time|date="Y-m-d",###}</span> </li>
          {/lp:list}
      </ul>
    </div>
    <!--<div class="tuijian">-->
    <!--  <h2 class="hometitle">{:lang('点击排行')}</h2>-->
    <!--  <ul class="tjpic">-->
    <!--    {lp:list db='article' dbfield='id' id='vo' where="delete_time = 0 and lang='$lang'" order='hits desc' limit='1'}-->
    <!--    <i>-->
    <!--      {if condition="$vo['thumb'] eq ''"}-->
    <!--      <img src="/uploads/20181124/9c84254f5099be6bf96681a668540eaa.jpg">-->
    <!--      {else /}-->
    <!--      <img src="{$vo.thumb}">-->
    <!--      {/if}-->
    <!--    </i>-->
    <!--    <p><a href="/article/{$vo.id}">{$vo.title}</a></p>-->
    <!--    {/lp:list}-->
    <!--  </ul>-->
    <!--  <ul class="sidenews">-->
    <!--    {lp:list db='article' dbfield='id' id='vo' where="delete_time = 0 and lang='$lang'" order='hits desc' limit='1,4'}-->
    <!--    <li> <i>-->
    <!--      {if condition="$vo['thumb'] eq ''"}-->
    <!--      <img src="/uploads/20181124/9c84254f5099be6bf96681a668540eaa.jpg">-->
    <!--      {else /}-->
    <!--      <img src="{$vo.thumb}">-->
    <!--      {/if}-->
    <!--    </i>-->
    <!--      <p><a href="/article/{$vo.id}">{$vo.title}</a></p>-->
    <!--      <span>{$vo.update_time|date="Y-m-d",###}</span> </li>-->
    <!--      {/lp:list}-->
    <!--  </ul>-->
    <!--</div>-->
    <div class="cloud">
      <h2 class="hometitle">{:lang('标签云')}</h2>
      <ul>
        {foreach name='tag' item='vo'}
        <a href="/tag/{$vo|tagencode}">{$vo}</a>
        {/foreach}  
      </ul>
    </div>
    <div class="links">
<h2 class="hometitle">{:lang('友情链接')}</h2>
      <ul>
        {volist name='link' id='vo'}
        <li><a href="{$vo.url}" target="_blank">{$vo.name}</a></li>
        {/volist}
    </div>
    <div class="guanzhu" id="follow-us">
      <h2 class="hometitle">{:lang('关注我')}</h2>
      <ul>
        <li class="sina"><a href="https://weibo.com/u/5967207369" target="_blank"><span>{:lang('关注新浪微博')}</span>梦里梦到丶丶丶</a></li>
        <li class="qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=1632382147&site=qq&menu=yes" target="_blank"><span>{:lang('QQ号')}</span>1632382147</a></li>
        <li class="email"><a href="mailto:1632382147@qq.com" target="_blank"><span>{:lang('邮箱帐号')}</span>1632382147@qq.com</a></li>
      </ul>
    </div>
  </div>