<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LuckyPig后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form">
		<input type="hidden" name="id" value="1">
		<table class="layui-table mag0">
			<colgroup>
				<col width="25%">
				<col width="45%">
		    </colgroup>
		    <thead>
		    	<tr>
		    		<th>参数说明</th>
		    		<th>参数值</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<tr>
		    		<td>网站logo</td>
		    		<td>
				<div class="layui-upload-list thumbBox layui-col-md3">
					<img class="layui-upload-img thumbImg" style="max-width: 100%" src="{$sys.logo}">
					<input type="hidden" name="logo" value="{$sys.logo}">
				</div>
			
		</td>
		    	</tr>
		    	
		    	<tr>
		    		<td>网站名称</td>
		    		<td><input type="text" class="layui-input cmsName" name="webname" lay-verify="required" value="{$sys.webname}"></td>
		    		
		    	</tr>
		    	<tr>
		    		<td>网站URL</td>
		    		<td><input type="text" class="layui-input homePage" name="url" value="{$sys.url}"></td>
		    		
		    	</tr>
		    	
		    	<tr>
		    		<td>默认关键字</td>
		    		<td><input type="text" class="layui-input keywords" name='keywords' value="{$sys.keywords}"></td>
		    		
		    	</tr>
		    	<tr>
		    		<td>版权信息</td>
		    		<td><input type="text" class="layui-input powerby" name="copyright" value="{$sys.copyright}"></td>
		    		
		    	</tr>
		    	<tr>
		    		<td>网站描述</td>
		    		<td><textarea name="description" class="layui-textarea description">{$sys.description}</textarea></td>
		    		
		    	</tr>
		    	<tr>
		    		<td>网站备案号</td>
		    		<td><input type="text" class="layui-input record" name="bah" value="{$sys.bah}"></td>
		    		
		    	</tr>
		    </tbody>
		</table>
		<div class="magt10 layui-right">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="systemParameter">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
	<script type="text/javascript" src="__ADMIN__/js/basicParameter.js"></script>
	<!-- <script type="text/javascript" src="__ADMIN__/js/cache.js"></script> -->
</body>
</html>