<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LuckyPig后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-col-md6">
	<div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="250">
      <col width="250">
      <col width="200">
      <col width="100">
      <col>
    </colgroup>
    <thead>
      <tr>
      	<th>ID</th>
        <th>链接名</th>
        <th>链接地址</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>
      {volist name='flist' id='vo'}
      <tr>
      	<td>{$vo.link_id}</td>
        <td>{$vo.name}</td>
        <td>{$vo.url}</td>
        <td><button value="{$vo['link_id']}" class="layui-btn layui-btn-xs" lay-filter="edit" lay-submit>编辑</button>
		<button value="{$vo['link_id']}" class="layui-btn layui-btn-danger layui-btn-xs" lay-filter="del" lay-submit>删除</button>
	</td>
      </tr>
      {/volist}
    </tbody>
  </table>
</div>
</form>
<form class="layui-form layui-col-md6">
    <input type="hidden" name="link_id">
    <div class="layui-form-item">
    <label class="layui-form-label">链接名</label>
    <div class="layui-input-block">
      <input type="text" name="name" autocomplete="off" placeholder="请输入链接名" class="layui-input" required>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">链接地址</label>
    <div class="layui-input-block">
      <input type="text" name="url" autocomplete="off" placeholder="以http开头 例：http://luckypigblog.com" class="layui-input" required>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
<!-- <script type="text/javascript" src="__ADMIN__/js/userList.js"></script> -->
</body>
<script type="text/javascript">
	layui.use(['form','layer'],function(){
    var form = layui.form,
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery;

    form.on('submit(del)',function(data){
    	cid = this.value;
    	layer.confirm('是否删除该链接', {icon: 3, title:'提示'}, function(index){
		  $.post('/admin/link/delete',{id:cid},function(res){
    		res = eval('('+res+')');
    		if (res.code == "0000") {
    			layer.msg(res.msg,{icon: 1, time: 1000});
    			window.location.reload();
    		}else{
    			layer.msg(res.msg,{icon:2,time:1000});
    		}
    	});
		  
		  layer.close(index);
		});
		return false;
    });

    form.on('submit(edit)',function(data){
        cid = this.value;
    	$.post('/admin/link/edit',{id:cid},function(res){
    		$("input[name='link_id']").val(res['link_id']);
            $("input[name='name']").val(res['name']);
            $("input[name='url']").val(res['url']);
    	});
    	
    	return false;
    });

        form.on('submit(add)',function(data){
            console.log(data);
        $.post('/admin/link/save',data.field,function(res){
         res = eval('('+res+')');
         if (res.code == "0000") {
                layer.msg(res.msg,{icon: 1, time: 1000});
                window.location.reload();
            }else{
                layer.msg(res.msg,{icon:2,time:1000});
            }
        });
        
        return false;
    });

})
</script>
</html>