<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LuckyPig后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN__/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<!-- <div class="layui-inline">
				<a class="layui-btn layui-btn-normal addNews_btn">添加文章</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
			</div> -->
		</form>
	</blockquote>
	<table id="newsList" lay-filter="newsList"></table>
	<!-- <script type="text/html" id="switchTpl">
	  <input type="checkbox" name="tj" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="filter" {{ d.tj == 1 ? 'checked' : '' }}>
	</script>
	<script type="text/html" id="switchTplPos">
	  <input type="checkbox" name="posid" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="filter" {{ d.posid == 1 ? 'checked' : '' }}>
	</script> -->

	<!--操作-->
	<script type="text/html" id="newsListBar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" value= {{d.id}} rel={{d.id}}>注销</a>
		<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="res" value= {{d.id}} rel={{d.id}}>重置密码</a>
	</script>
</form>
<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
<script type="text/javascript">
	layui.use(['form','layer','laydate','table','laytpl'],function(){
    var form = layui.form,
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery,
        laydate = layui.laydate,
        laytpl = layui.laytpl,
        table = layui.table;

    //用户列表
    var tableIns = table.render({
        elem: '#newsList',
        url : '/admin/vip/viplist',
        cellMinWidth : 95,
        page : true,
        height : "full-60",
        limit : 10,
        // limits : [5,10,15,20,25],
        id : "newsListTable",
        cols : [[
            // {type: "checkbox", fixed:"left", width:50},
            {field: 'uid', title: '用户ID', width:110, align:"center",sort:true},
            {field: 'username', title: '用户名', width:140},
            {field: 'logo', title: '用户头像(点击查看大图)', align:'center',width:180,templet: function(d){return "<a target='_blank' href='"+d.logo+"'><img src='"+d.logo+"'/></a>"}},
            {field: 'tel', title: '手机号',  align:'center',templet:"#newsStatus", width:120},
            {field: 'credit', title: '积分', align:'center', width:70,templet: '#switchTpl',sort:true},
            {field: 'exp', title: '经验', align:'center', width:80,templet:"#switchTplPos",sort:true},
            {field: 'grade', title: '等级', align:'center', width:70,templet:"#switchTplPos",sort:true},
            {field: 'create_time', title: '注册时间',sort:true, align:'center',templet: function(d){return stampToTime(d.create_time)}},
            {title: '操作', width:210, templet:'#newsListBar',fixed:"right",align:"center"}
        ]],
    });

    function stampToTime(timestamp) {
    if(timestamp == 0) {
        return "";
    }else{
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear();
        var M = date.getMonth()+ 1;
        var D = date.getDate();
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        var datestring = Y + "-";
        if (M < 10) datestring += "0";
        datestring += M + "-";
        if (D < 10) datestring += "0";
        datestring += D + " ";
        if (h < 10) datestring += "0";
        datestring += h + ":";
        if (m < 10) datestring += "0"; 
        datestring += m;
        // if (s < 10) datestring += "0"; 
        // datestring += s;
        return datestring;  
    }
}

    //列表操作
    table.on('tool(newsList)', function(obj){
        var layEvent = obj.event,
            data = obj.data;
            // newsId = [];
            // newsId.push(data.id);

        if(layEvent === 'edit'){ //编辑
            // console.log(data.id);
            $.post('/admin/vip/edit',{id:data.id},function(res){
            res = eval('('+res+')');
            // console.log(res);
            addNews(res);
        });
        // addNews();
        } else if(layEvent === 'del'){ //删除
            layer.confirm('确定注销该用户？',{icon:3, title:'提示信息'},function(index){
               $.post('/admin/vip/delete',{id:data.id},function(res){
                layer.close(index);
                // console.log(res);
                res = eval('('+res+')');
                if (res.code == '0000') {
                    layer.msg(res.msg,{icon:1,time:1000});
                    window.location.reload();
                }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                }
               });
                layer.close(index);
                
            });
        }else if(layEvent === 'res'){ //删除
            layer.confirm('确定重置密码？',{icon:3, title:'提示信息'},function(index){
               $.post('/admin/vip/reset',{id:data.id},function(res){
                layer.close(index);
                // console.log(res);
                res = eval('('+res+')');
                if (res.code == '0000') {
                    layer.msg(res.msg,{icon:1,time:1000});
                    // window.location.reload();
                }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                }
               });
                layer.close(index);
                
            });
        }   
    });

     //添加文章
    function addNews(edit){
        var index = layui.layer.open({
            title : "修改用户信息",
            type : 2,
            content : "/admin/vip/add",
            success : function(layero, index){
                var body = layui.layer.getChildFrame('body', index);
                // if(edit){
                    // console.log(layero);
                    body.find("input[name='id']").val(edit.id);
                    body.find("input[name='username']").val(edit.username);
                    body.find("#uid").val(edit.uid);
                    body.find("input[name='exp']").val(edit.exp);
                    body.find("input[name='grade']").val(edit.grade);
                    body.find("input[name='credit']").val(edit.credit);
                    body.find("input[name='tel']").val(edit.tel);
                    body.find("#userFace").attr('src',edit.logo);
                    body.find("#time").val(stampToTime(edit.create_time));
                    // console.log(edit);
                    form.render();
                // }
              
            }
        })
        layui.layer.full(index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            layui.layer.full(index);
        })
    }

})
</script>
</body>
</html>